:root {
    --color-dark-blue-main: hsl(217, 54%, 11%);
    --color-dark-blue-card: hsl(215, 32%, 27%);
    --color-dark-blue-line: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);
    --color-primary-soft-blue: hsl(215, 51%, 70%);
    --color-primary-cyan: hsl(178, 100%, 50%);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

#container {
    width: 375px;
    height: auto;
    padding: 50px 20px;
    background-color: var(--color-dark-blue-main);
}

#card {
    width: 90%;
    height: 600px;
    background-color: var(--color-dark-blue-card);
    border-radius: 15px;
    padding: 20px;
}

img {
    width: 100%;
    border-radius: 10px;
}

img:hover {
    background: var(--color-primary-cyan);
    opacity: 0.3;
    transition: 1s;
    cursor: pointer;
}

#img-wrap svg{
    position: absolute;
    top: 260px;
    padding-left: 148px;
    opacity: 0;
}

#img-wrap:hover svg {
    opacity: 1;
}

#Equilibrium {
    color: var(--color-white);
}

p {
 font-size: 18px;
 color: hsl(215, 51%, 70%);
 line-height: 1.5;
}

#fact_container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-primary-soft-blue);
    align-items: center;
}

h4{
    color: var(--color-primary-cyan);
}

#ethereum {
    height: 20px;
    width: 15px;
    position: relative;
    right: 5px;
    top: 3px;
}

#clock {
    height: auto;
    width: 20px;
    position: relative;
    right: 5px;
    top: 3px;
}

#creation {
    display: flex;
}

#surname {
    color:var(--color-white)
}

#avatar {
    position: relative;
    top: 15px;
    left: 5px;
    border: var(--color-white) solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}



@media (min-width:1440px) { 
    #container {
      max-width:1440px
    }
}